@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.container img {
 width: 250px;
}

.container input {
  width: 250px;
  color: #0E056E;
  padding: 10px 15px;
  border: 1px solid #0E056E;
  border-radius: 2px; 
}

.container button {
  width: 250px;
  background-color: #0E056E;
  padding: 10px 15px;
  color: #FFF;
  border: 1px solid #0E056E; 
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 30px 0px;
}

/* ul { */
/*   display: flex; */
/*   flex-wrap: wrap; */
/*   max-width: 80%; */
/*   padding: 15px 0; */
/*   gap: 10px; */
/* } */

/* ul li { */
/*   background-color: crimson; */
/*   color: #fff; */
/*   padding: 5px 10px; */
/*   flex-grow: 1; */
/*   text-align: center; */
/* } */

ul {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 15px 0;
  gap: 10px;
  
  /* max-height: 200px; */
  /* overflow-x: auto; */
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background-color: crimson;
  width: 100%;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
}

ul li i {
  font-size: 20px;
}


/* Tablet */
@media screen 
  and (min-width: 768px) 
  and (max-width: 1023px) {
    ul {
      width: 50%;
    }
}

@media screen 
  and (min-width: 1024px) {
    ul {
      width: 25%;
    }
}

/* @media (min-width: 768px) and (max-width: 992px){
  .ul {
    max-width: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1024px){
  .ul {
    max-width: 50%;
  }
} */
