* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.container img {
 width: 100%;
}

.container input {
  width: 200px;
  color: #0E056E;
  padding: 10px 15px;
  border: 1px solid #0E056E;
  border-radius: 2px; 
}

.container button {
  width: 200px;
  background-color: #0E056E;
  padding: 10px 15px;
  color: #FFF;
  border: 1px solid #0E056E; 
}
